Parent Name: Yamaraj
Name: Yamaraj Venom
Nombre: Yamaraj Venom
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>While a creature is clumsy from this poison, it is doomed with the same value</p>
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:42]</p>
<p><strong>Maximum Duration</strong> 10 rounds</p>
<p><strong>Stage 1</strong> [[/r 3d8[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r 5d8[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2} (1 round)</p>
<p><strong>Stage 3</strong> [[/r 7d8[poison]]] damage and @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 3} (1 round)</p>
------ Description (es) ------
<p>Mientras una criatura está torpe por este veneno, está condenada/a con el mismo valor</p>
<p><strong>Lanzamiento de Salvación</strong> @Check[type:fortitude|dc:42]</p>
<p><strong>Duración máxima</strong> 10 asaltos</p>
<p><strong>Etapa 1</strong> [[/r 3d8[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Torpe 1}# (1 asalto)</p> <p><strong>Etapa 1</strong>.
<p><strong>Etapa 2</strong> [[/r 5d8[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{{Tontín 2}# (1 asalto)</p> <p
<p><strong>Etapa 3</strong> [[/r 7d8[veneno]]] de daño y @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{{Torpe 3}# (1 asalto)</p>
