Parent Name: Osyluth
Name: Sadistic Strike
Nombre: Golpe Sádico
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>An osyluth deals an extra [[/r {2d6}]]{2d6 damage} whenever they Strike an @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled}, @UUID[Compendium.pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened}, or @UUID[Compendium.pf2e.conditionitems.j91X7x0XSomq8d60]{Prone} creature.</p>
------ Description (es) ------
<p>Un osyluth inflige un [[/r {2d6}]]{2d6 de daño} extra cada vez que Golpea a un @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{{Enfeebled}, @UUID[Compendium.pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened}, or @UUID[Compendium.pf2e.conditionitems.j91X7x0XSomq8d60]{Prone} creature.</p>
