Name: Mask Of Power
Nombre: Mascara De Poder
PrereqEN: Orc Warmask
PrereqES: Orc Warmask
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>Your <em>warmask</em> sharpens your connection to the source of your mask's power. During your daily preparations, choose <em>@UUID[Compendium.pf2e.spells-srd.4koZzrnMXhhosn0D]{Fear}</em>, <em>@UUID[Compendium.pf2e.spells-srd.R8bqnYiThB6MYTxD]{Phantom Pain}</em>, or <em>@UUID[Compendium.pf2e.spells-srd.Gb7SeieEvd0pL2Eh]{True Strike}</em>.</p>
<p>Until your next daily preparations, you can cast this spell as a 1st-level innate spell once per day; the spell's tradition is determined by the tradition tied to your <em>warmask</em>. You must be wearing your <em>warmask</em> to Cast the Spell.</p>
------ Description (es) ------
<p>Tu <em>máscara de poder</em> agudiza tu conexión con la fuente de poder de tu máscara. Durante tus preparativos diarios, elige <em>@UUID[Compendium.pf2e.spells-srd.4koZzrnMXhhosn0D]{Miedo}</em>, <em>@UUID[Compendium.pf2e.spells-srd.R8bqnYiThB6MYTxD]{Dolor fantasmal}</em>, o <em>@UUID[Compendium.pf2e.spells-srd.Gb7SeieEvd0pL2Eh]{{Golpe verdadero}</em>.</p>
<p>Hasta tus próximos preparativos diarios, puedes lanzar este conjuro como un conjuro innato de 1er nivel una vez al día; la tradición del conjuro viene determinada por la tradición ligada a tu <em>enmascarilla</em>. Debes llevar puesta tu <em>enmascarilla</em> para lanzar el hechizo.</p> <p>
