Name: Acquired Tolerance
Nombre: Tolerancia adquirida
PrereqEN: Poisoner Dedication
PrereqES: Dedicación Envenenador
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Trigger</strong> You fail a save against a poison.</p>
<hr />
<p>A small amount of poison, taken at nonlethal doses, can help the body build up a resistance against a more deadly dosage. Reroll the triggering check and use the second result.</p>
<p>Once you use Acquired Tolerance, you can continue to use it against the same type of poison that day, but you can't use it against a different type of poison until after you make your next daily preparations.</p>
<p>For instance, if you used the reaction on a save against @UUID[Compendium.pf2e.equipment-srd.QGXNqpP5KvSldoZz]{Giant Scorpion Venom}, you could use it again against giant scorpion venom even if it came from a different source, but you couldn't use it against @UUID[Compendium.pf2e.equipment-srd.KdeeRCrtsDCJLfgc]{Nettleweed Residue}, @UUID[Compendium.pf2e.equipment-srd.ca2lzxfJxvuLDrKu]{Lich Dust}, or another poison.</p>
------ Description (es) ------
<p><strong>Desencadenante</strong> Fallas una salvación contra un veneno.</p>
<hr />
<p>Una pequeña cantidad de veneno, tomada en dosis no letales, puede ayudar al cuerpo a crear una resistencia contra una dosis más letal. Vuelve a realizar el chequeo desencadenante y utiliza el segundo resultado.</p> <p>
<p>Una vez que usas Tolerancia Adquirida, puedes seguir usándola contra el mismo tipo de veneno ese día, pero no puedes usarla contra un tipo de veneno diferente hasta después de hacer tus siguientes preparaciones diarias.</p> <p>Por ejemplo, si tomas una dosis no mortal de un veneno, puedes usarla contra otro veneno.
<p>Por ejemplo, si usaste la reacción en una salvación contra @UUID[Compendium.pf2e.equipment-srd.QGXNqpP5KvSldoZz]{Veneno de escorpión gigante, podrías volver a usarla contra Veneno de escorpión gigante aunque procediera de una fuente distinta, pero no podrías usarlo contra @UUID[Compendium.pf2e.equipment-srd.KdeeRCrtsDCJLfgc]{{Residuo de hierba aguja}, @UUID[Compendium.pf2e.equipment-srd.ca2lzxfJxvuLDrKu]{{Polvo de liche}, u otro veneno.</p>
