Name: Spellshot Dedication
Nombre: Dedicación Spellshot
PrereqEN: way of the spellshot
PrereqES: camino de la spellshot
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>You've steeped yourself in magic and gunplay to the extent that you can conjure bullets from thin air, using a rudimentary knowledge of arcane theory to create a temporary piece of ammunition. You gain the @UUID[Compendium.pf2e.actionspf2e.KC6o1cvbr45xnMei]{Conjure Bullet} action.</p>
<p><strong>Special</strong> You can't select another dedication feat other than Beast Gunner Dedication until you've gained two other feats from the @UUID[Compendium.pf2e.journals.vx5FGEG34AxI2dow.JournalEntryPage.FJGPBhYmD7xTFsrW]{Spellshot} or @UUID[Compendium.pf2e.journals.vx5FGEG34AxI2dow.JournalEntryPage.jTiXRtNNvMOnsg98]{Beast Gunner} archetypes.</p>
------ Description (es) ------
<p>Te has empapado de magia y armas de fuego hasta el punto de que puedes conjurar balas de la nada, utilizando un conocimiento rudimentario de la teoría arcana para elaborar una munición temporal. Obtienes la acción @UUID[Compendium.pf2e.actionspf2e.KC6o1cvbr45xnMei]{Conjurar bala}.</p> <p>
<p><strong>Especial</strong> No puedes seleccionar otra proeza de dedicación que no sea Dedicación de artillero de bestias hasta que hayas obtenido otras dos proezas de los arquetipos @UUID[Compendium.pf2e.journals.vx5FGEG34AxI2dow.JournalEntryPage.FJGPBhYmD7xTFsrW]{Disparo de hechizos} o @UUID[Compendium.pf2e.journals.vx5FGEG34AxI2dow.JournalEntryPage.jTiXRtNNvMOnsg98]{{Artillero de bestias}.</p> <p
