Name: Swift Leap
Nombre: Salto veloz
PrereqEN: Ghoul Dedication
PrereqES: Ghoul Dedication
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>Your undead physiology allows you to leap quickly toward or away from your opponent. You @UUID[Compendium.pf2e.actionspf2e.d5I6018Mci2SWokk]{Leap}. This movement doesn't trigger reactions.</p>
<p>If you are satiated, you can choose to end your satiation to instead @UUID[Compendium.pf2e.actionspf2e.2HJ4yuEFY1Cast4h]{High Jump} or @UUID[Compendium.pf2e.actionspf2e.JUvAvruz7yRQXfz2]{Long Jump} without triggering reactions, as you take a quick, enormous jump before any foe can react to your movement.</p>
------ Description (es) ------
<p>Tu fisiología de muerto viviente te permite saltar rápidamente hacia tu oponente o alejarte de él. Haces @UUID[Compendium.pf2e.actionspf2e.d5I6018Mci2SWokk]{{Salto}. Este movimiento no desencadena reacciones.</p>
<p>Si estás saciado, puedes elegir terminar tu saciedad para, en su lugar, @UUID[Compendium.pf2e.actionspf2e.2HJ4yuEFY1Cast4h]{Salto de altura} o @UUID[Compendium.pf2e.actionspf2e.JUvAvruz7yRQXfz2]{Salto largo}# sin desencadenar reacciones, ya que das un salto rápido y enorme antes de que cualquier enemigo pueda reaccionar a tu movimiento.</p>
