Name: Harmonic Hauberk
Nombre: Armonizar Hauberk
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>Rose gold and copper rings in this <em>+2 resilient chain shirt</em> form a vague bird shape. The jingling links tinkle musically, almost like birdsong. While you wear the armor, effects with the auditory trait must first counteract the <em>harmonic hauberk</em> or they have no effect on you.</p>
<p>The <em>harmonic hauberk</em> attempts to counteract <em>@UUID[Compendium.pf2e.spells-srd.gIdDLrbswTV3OBJy]{Silence}</em> spells cast on you and 4th‑level or higher heightened <em>silence</em> spells the first time the armor enters their area (counteract level 4, counteract modifier [[/r 1d20+20 #Counteract]]{+20}). After failing to counteract a <em>silence</em> spell, the armor can't attempt to counteract the same spell again, even if you leave and enter the spell's area multiple times.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">1</span> command</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Requirements</strong> You have a pool of Focus Points and at least one composition spell</p>
<hr />
<p><strong>Effect</strong> You gain 1 Focus Point and immediately use the Focus Point to cast <em>@UUID[Compendium.pf2e.spells-srd.irTdhxTixU9u9YUm]{Lingering Composition}</em>, using your Performance check to determine the effects of the spell, followed by the <em>@UUID[Compendium.pf2e.spells-srd.bH0kPuf7UKxRvi2P]{Inspire Defense}</em>. You can use this activation to cast those spells even if you don't have the @UUID[Compendium.pf2e.feats-srd.sVjATEo8eqkAosNp]{Lingering Composition} or @UUID[Compendium.pf2e.feats-srd.sahJHnojXO9eEXVE]{Inspire Defense} feats.</p>
------ Description (es) ------
<p>Los anillos de oro rosa y cobre de esta <em>camisa de cadena resistente+2</em> forman una vaga figura de pájaro. Los eslabones tintineantes tintinean musicalmente, casi como el canto de los pájaros. Mientras lleves la armadura, los efectos con el rasgo auditivo deben contrarrestar primero el <em>huberk armónico</em> o no tendrán efecto en ti.</p>
<p>El <em>hubérculo armónico</em> intenta contrarrestar <em>##d26fa93f6fd8a6f296ab674035548e####{Silencio}###</em> conjuros lanzados sobre ti y <em>silencio</em> potenciado de 4º nivel o superior la primera vez que la armadura entre en su área (nivel de contrarrestar 4, modificador de contrarrestar [[/r 1d20+20 #Contrarrestar]]{+20}). Tras fallar al contrarrestar un hechizo de <em>silencio</em>, la armadura no puede volver a hacer el mismo contrarresto, aunque salga y entre en el área del hechizo varias veces.</p> <p>
<hr />
<p><strong>Activar</strong> <span class="pf2-icon">1</span> orden imperiosa</p> <p class="pf2-icon">1</span>.
<p><strong>Frecuencia</strong> una vez al día</p>
<p><strong>Requerimientos</strong> Tienes una reserva de Puntos de Foco y al menos un conjuro de composición</p>
<hr />
<p><strong>Efecto</strong> Ganas 1 Punto de Foco e inmediatamente usas el Punto de Foco para lanzar <em>@UUID[Compendium.pf2e.spells-srd.irTdhxTixU9u9YUm]{Composición persistente##</em>, usando tu chequeo de Interpretación para determinar los efectos del conjuro, seguido del <em>@UUID[Compendium.pf2e.spells-srd.bH0kPuf7UKxRvi2P]{Inspirar defensa}</em>. Puedes usar esta activación para lanzar esos conjuros aunque no tengas las gestas @UUID[Compendium.pf2e.feats-srd.sVjATEo8eqkAosNp]{Composición persistente o @UUID[Compendium.pf2e.feats-srd.sahJHnojXO9eEXVE]{{Inspirar defensa}.</p> <p>
