Name: Drums of War (Major)
Nombre: Tambores de Guerra (Mayor)
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>This handheld snare drum is adorned with garish scenes of battle and triumph. When played, no matter what rhythm, it always gives the impression of a marching beat, invoking armies on the move. While playing the drums, you gain a +2 item bonus to Performance checks and a +5-foot status bonus to your Speed.</p>
<hr />
<p><strong>Activate</strong> Cast a Spell</p>
<hr />
<p><strong>Effect</strong> You expend a number of charges from this instrument to cast a spell from its list.</p>
<ul>
<li><strong>Cantrip</strong> <em>@UUID[Compendium.pf2e.spells-srd.TVKNbcgTee19PXZR]{Shield}</em></li>
<li><strong>1st</strong> <em>@UUID[Compendium.pf2e.spells-srd.aAbfKn8maGjJjk2W]{Mage Armor}</em>, <em>@UUID[Compendium.pf2e.spells-srd.gKKqvLohtrSJj3BM]{Magic Missile}</em>, <em>@UUID[Compendium.pf2e.spells-srd.Gb7SeieEvd0pL2Eh]{True Strike}</em></li>
<li><strong>2nd</strong> <em>@UUID[Compendium.pf2e.spells-srd.8ViwItUgwT4lOvvb]{False Life}</em>, <em>@UUID[Compendium.pf2e.spells-srd.wzLkNU3AAqOSKFPR]{Sound Burst}</em>, <em>@UUID[Compendium.pf2e.spells-srd.Fq9yCbqI2RDt6Orw]{Spiritual Weapon}</em></li>
<li><strong>3rd</strong> <em>@UUID[Compendium.pf2e.spells-srd.o6YCGx4lycsYpww4]{Haste}</em>, <em>@UUID[Compendium.pf2e.spells-srd.KqvqNAfGIE5a9wSv]{Heroism}</em></li>
<li><strong>4th</strong> <em>@UUID[Compendium.pf2e.spells-srd.tgIhRUFtgDSELpJE]{Spell Immunity}</em>, <em>@UUID[Compendium.pf2e.spells-srd.1NLMPmyCB2MBoCuR]{Tortoise and the Hare}</em></li>
<li><strong>5th</strong> <em>@UUID[Compendium.pf2e.spells-srd.YvXKGlHOt7mdW2jZ]{Death Ward}</em>, <em>@UUID[Compendium.pf2e.spells-srd.lETZeqBPoj2htGVk]{Quicken Time}</em>, <em>@UUID[Compendium.pf2e.spells-srd.tgIhRUFtgDSELpJE]{Spell Immunity}</em></li>
</ul>
<hr />
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
------ Description (es) ------
<p>Este tambor redoblante de mano está adornado con escenas chillonas de batalla y triunfo. Al tocarlo, no importa el ritmo, siempre da la impresión de marchar, invocando ejércitos en movimiento. Mientras tocas el tambor, obtienes un bonificador +2 de objeto a los chequeos de Interpretación y un bonificador de estado +5 pies a tu Velocidad.</p> <p>
<hr />
<p><strong>Activar</strong> Lanzar un hechizo</p>
<hr />
<p><strong>Efecto</strong> Gastas un número de cargas de este instrumento para lanzar un hechizo de su lista.</p>
<ul>
<li><strong>Cantrip</strong> <em>@UUID[Compendium.pf2e.spells-srd.TVKNbcgTee19PXZR]{Escudo}</em></li> <li>Cantrip</strong>.
<li><strong>1st</strong> <em>@UUID[Compendium.pf2e.spells-srd.aAbfKn8maGjJjk2W]{Mage Armor}</em>, <em>@UUID[Compendium.pf2e.spells-srd.gKKqvLohtrSJj3BM]{Magic Missile}</em>, <em>@UUID[Compendium.pf2e.spells-srd.Gb7SeieEvd0pL2Eh]{True Strike}</em></li>
<li><strong>2ª</strong> <em>@UUID[Compendium.pf2e.spells-srd.8ViwItUgwT4lOvvb]{Vida Falsa}</em>, <em>@UUID[Compendium.pf2e.spells-srd.wzLkNU3AAqOSKFPR]{Sound Burst}</em>, <em>@UUID[Compendium.pf2e.spells-srd.Fq9yCbqI2RDt6Orw]{Spiritual Weapon}</em></li>
<li><strong>3rd</strong> <em>@UUID[Compendium.pf2e.spells-srd.o6YCGx4lycsYpww4]{Haste}</em>, <em>@UUID[Compendium.pf2e.spells-srd.KqvqNAfGIE5a9wSv]{Heroism}</em></li>
<li><strong>4ª</strong> <em>@UUID[Compendium.pf2e.spells-srd.tgIhRUFtgDSELpJE]{Inmunidad a hechizos}</em>, <em>@UUID[Compendium.pf2e.spells-srd.1NLMPmyCB2MBoCuR]{La tortuga y la liebre}</em></li> <li><strong>5ª</strong>, <em>@UUID[Compendium.pf2e.spells-srd.1NLMPmyCB2MBoCuR]{{La tortuga y la liebre}</em>.
<li><strong>5th</strong> <em>@UUID[Compendium.pf2e.spells-srd.YvXKGlHOt7mdW2jZ]{Death Ward}</em>, <em>@UUID[Compendium.pf2e.spells-srd.lETZeqBPoj2htGVk]{Quicken Time}</em>, <em>@UUID[Compendium.pf2e.spells-srd.tgIhRUFtgDSELpJE]{Spell Immunity}</em></li>
</ul>
<hr />
<p><strong>Requisitos de artesanía</strong> Suministra un lanzamiento de todos los niveles enumerados de todos los hechizos enumerados.</p> <p
