Name: Staff of Air (Greater)
Nombre: Báculo de Aire (Mayor)
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>Carved from white ash wood, a <em>staff of air</em> crackles with electrical sparks, and a breeze always follows the wielder. While wielding a staff of air, you feel lighter on your feet, and you can Step into difficult terrain once per round.</p>
<hr />
<p><strong>Activate</strong> Cast a Spell</p>
<hr />
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<ul>
<li><strong>Cantrip</strong> <em>@UUID[Compendium.pf2e.spells-srd.dDiOnjcsBFbAvP6t]{Gale Blast}</em></li>
<li><strong>1st</strong> <em>@UUID[Compendium.pf2e.spells-srd.W69zswpj0Trdy5rj]{Air Bubble}</em>, <em>@UUID[Compendium.pf2e.spells-srd.g8QqHpv2CWDwmIm1]{Gust of Wind}</em></li>
<li><strong>2nd</strong> <em>@UUID[Compendium.pf2e.spells-srd.23cv1p49NFd0Onng]{Ash Cloud}</em>, <em>@UUID[Compendium.pf2e.spells-srd.9XHmC2JgTUIQ1CCm]{Obscuring Mist}</em></li>
<li><strong>3rd</strong> <em>@UUID[Compendium.pf2e.spells-srd.KEkPxx7Sm6Xf4W3s]{Blazing Dive}</em>, <em>@UUID[Compendium.pf2e.spells-srd.9AAkVUCwF6WVNNY2]{Lightning Bolt}</em>, <em>@UUID[Compendium.pf2e.spells-srd.it4ZsAi6XgvGcodc]{Wall of Wind}</em></li>
</ul>
<hr />
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
------ Description (es) ------
<p>Tallado en madera de fresno blanco, un <em>báculo de aire</em> crepita con chispas eléctricas, y una brisa sigue siempre a quien lo empuña. Mientras empuñas un báculo de aire, te sientes más ligero sobre tus pies, y puedes Pisar en terreno difícil una vez por asalto.</p> <p><em>Cuidado con el aire</em>.
<hr />
<p><strong>Activar</strong> Lanzar un hechizo</p>
<hr />
<p><strong>Efecto</strong> Gastas un número de cargas del báculo para lanzar un hechizo de su lista.</p> <p>
<ul>
<li><strong>Cantrip</strong> <em>@UUID[Compendium.pf2e.spells-srd.dDiOnjcsBFbAvP6t]{Gale Blast}</em></li> <li><strong>Cantrip</strong>.
<li><strong>1ª</strong> <em>@UUID[Compendium.pf2e.spells-srd.W69zswpj0Trdy5rj]{Burbuja de aire}</em>, <em>@UUID[Compendium.pf2e.spells-srd.g8QqHpv2CWDwmIm1]{Ráfaga de viento}</em></li> <li><strong>2ª</strong>.
<li><strong>2ª</strong> <em>@UUID[Compendium.pf2e.spells-srd.23cv1p49NFd0Onng]{Nube de ceniza}</em>, <em>@UUID[Compendium.pf2e.spells-srd.9XHmC2JgTUIQ1CCm]{Niebla que obscurece}</em></li> <li><strong>3ª</strong>, <em>@UUID[Compendium.pf2e.spells-srd.9XHmC2JgTUIQ1CCm]{{Niebla que obscurece}</em>.
<li><strong>3rd</strong> <em>@UUID[Compendium.pf2e.spells-srd.KEkPxx7Sm6Xf4W3s]{Blazing Dive}</em>, <em>@UUID[Compendium.pf2e.spells-srd.9AAkVUCwF6WVNNY2]{Lightning Bolt}</em>, <em>@UUID[Compendium.pf2e.spells-srd.it4ZsAi6XgvGcodc]{Wall of Wind}</em></li>
</ul>
<hr />
<p><strong>Requisitos de artesanía</strong> Suministra un lanzamiento de todos los niveles listados de todos los hechizos listados.</p> <p
