Name: Glyph Domain
Nombre: Glifo Dominio
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Deities</strong> @UUID[Compendium.pf2e.deities.QRkcFciCOmFoxF1B]{Asmodeus}, @UUID[Compendium.pf2e.deities.6mgCX7lvKtaEYoa9]{Dwarven Pantheon}, @UUID[Compendium.pf2e.deities.8DXel4AvpyUy6oJ0]{Eritrice}, @UUID[Compendium.pf2e.deities.tcvobm8O84qv0aO5]{Gruhastha}, @UUID[Compendium.pf2e.deities.WvoMr86bSSYxXKtI]{Hastur}, @UUID[Compendium.pf2e.deities.KIEgpcmHYtFu1dpg]{Imot}, @UUID[Compendium.pf2e.deities.lSciGZGcbU9PJxQy]{Irez}, @UUID[Compendium.pf2e.deities.xu05XGotyT5st56H]{Lady Jingxi}, @UUID[Compendium.pf2e.deities.w66gCNiZ7dslqG8K]{Lissala}, @UUID[Compendium.pf2e.deities.iMRXc519Uepf8yH3]{Magdh}, @UUID[Compendium.pf2e.deities.nsiDGdgbAzkTQzOt]{Magrim}, @UUID[Compendium.pf2e.deities.KWVdoAm3b01M8Lcp]{Mephistopheles}, @UUID[Compendium.pf2e.deities.gsFaxWHbZmc1moY6]{Nalinivati}, @UUID[Compendium.pf2e.deities.9EKyWmjLUu42evxC]{Nethys}, @UUID[Compendium.pf2e.deities.WO9UsCY41oTtC2G0]{Pillars of Knowledge}, @UUID[Compendium.pf2e.deities.iJyhAFmHOLZBvWnJ]{Sivanah}, @UUID[Compendium.pf2e.deities.aievwuZalZ2abs2q]{Thoth}, @UUID[Compendium.pf2e.deities.9FWBJcADLEeP8Krf]{Valmallos}, @UUID[Compendium.pf2e.deities.ZynnoQJFz12FD0Xn]{Wards of the Pharaoh}, @UUID[Compendium.pf2e.deities.8wOAwLMgB1HFLo9n]{Winlas}, @UUID[Compendium.pf2e.deities.iEt6idGIEPXY2HzV]{Ydajisk}</p>
<p><strong>Domain Spell</strong> <em>@UUID[Compendium.pf2e.spells-srd.ifXNOhtmU4fKL68v]{Redact}</em>; <strong>Advanced Domain Spell</strong> <em>@UUID[Compendium.pf2e.spells-srd.vhe9DduqaivMs8FV]{Ghostly Transcription}</em></p>
<p>You wield power over written words and symbols.</p>
------ Description (es) ------
<p><strong>Deidades</strong> @UUID[Compendium.pf2e.deities.QRkcFciCOmFoxF1B]{Asmodeus}, @UUID[Compendium.pf2e.deities.6mgCX7lvKtaEYoa9]{{Panteón Enano}, @UUID[Compendium.pf2e.deities.8DXel4AvpyUy6oJ0]{Eritrice}, @UUID[Compendium.pf2e.deities.tcvobm8O84qv0aO5]{Gruhastha}, @UUID[Compendium.pf2e.deities.WvoMr86bSSYxXKtI]{Hastur}, @UUID[Compendium.pf2e.deities.KIEgpcmHYtFu1dpg]{Imot}, @UUID[Compendium.pf2e.deities.lSciGZGcbU9PJxQy]{Irez}, @UUID[Compendium.pf2e.deities.xu05XGotyT5st56H]{Lady Jingxi}, @UUID[Compendium.pf2e.deities.w66gCNiZ7dslqG8K]{Lissala}, @UUID[Compendium.pf2e.deities.iMRXc519Uepf8yH3]{Magdh}, @UUID[Compendium.pf2e.deities.nsiDGdgbAzkTQzOt]{Magrim}, @UUID[Compendium.pf2e.deities.KWVdoAm3b01M8Lcp]{Mephistopheles}, @UUID[Compendium.pf2e.deities.gsFaxWHbZmc1moY6]{Nalinivati}, @UUID[Compendium.pf2e.deities.9EKyWmjLUu42evxC]{Nethys}, @UUID[Compendium.pf2e.deities.WO9UsCY41oTtC2G0]{Pillars of Knowledge}, @UUID[Compendium.pf2e.deities.iJyhAFmHOLZBvWnJ]{Sivanah}, @UUID[Compendium.pf2e.deities.aievwuZalZ2abs2q]{Thoth}, @UUID[Compendium.pf2e.deities.9FWBJcADLEeP8Krf]{Valmallos}, @UUID[Compendium.pf2e.deities.ZynnoQJFz12FD0Xn]{Wards of the Pharaoh}, @UUID[Compendium.pf2e.deities.8wOAwLMgB1HFLo9n]{Winlas}, @UUID[Compendium.pf2e.deities.iEt6idGIEPXY2HzV]{Ydajisk}</p>
<p><strong>Hechizo de Dominio</strong> <em>@UUID[Compendium.pf2e.spells-srd.ifXNOhtmU4fKL68v]{Redact}</em>; <strong>Hechizo de Dominio avanzado</strong> <em>@UUID[Compendium.pf2e.spells-srd.vhe9DduqaivMs8FV]{Transcripción fantasmal}</em></p>
<p>Ejerces poder sobre las palabras escritas y los símbolos.</p>
