Name: Confidence Domain
Nombre: Dominio de confianza
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Deities</strong> @UUID[Compendium.pf2e.deities.gutbzYTZvRTnq4on]{Adanye}, @UUID[Compendium.pf2e.deities.HtRxo4J3elFteIqu]{Arazni}, @UUID[Compendium.pf2e.deities.KDFujU3Yug6AwCOz]{Arshea}, @UUID[Compendium.pf2e.deities.QRkcFciCOmFoxF1B]{Asmodeus}, @UUID[Compendium.pf2e.deities.HD7g8T8ioy1EH3M8]{Bolka}, @UUID[Compendium.pf2e.deities.4GO4iT585ynLJnc8]{Chaldira}, @UUID[Compendium.pf2e.deities.vSUz97Y29l1O50bC]{Count Ranalc}, @UUID[Compendium.pf2e.deities.CzHjFLx4hpIEIoWt]{Dispater}, @UUID[Compendium.pf2e.deities.8DXel4AvpyUy6oJ0]{Eritrice}, @UUID[Compendium.pf2e.deities.Zi1UARhode3FSFLr]{General Susumu}, @UUID[Compendium.pf2e.deities.88vRw2ZVPax4hhga]{Gorum}, @UUID[Compendium.pf2e.deities.tk7gRxXsqvBwQrUF]{Grundinnar}, @UUID[Compendium.pf2e.deities.eErEiVmBqltYXFJ6]{Iomedae}, @UUID[Compendium.pf2e.deities.bF77ydtptI54STl9]{Jaidz}, @UUID[Compendium.pf2e.deities.Mv6uTJLh3VGEoGLH]{Nivi Rhombodazzle}, @UUID[Compendium.pf2e.deities.o9tK1T28LNEVzpFV]{Ragdya}, @UUID[Compendium.pf2e.deities.u3YfcJh1C4w6n75j]{Raumya}, @UUID[Compendium.pf2e.deities.97Qe42wJN5EVUS14]{Sturovenen}, @UUID[Compendium.pf2e.deities.PFp4Sdp2TDDKD62l]{Thamir}, @UUID[Compendium.pf2e.deities.N8a76dkGfUvxvSW0]{Trudd}</p>
<p><strong>Domain Spell</strong> <em>@UUID[Compendium.pf2e.spells-srd.Q25JQAgnJSGgFDKZ]{Veil of Confidence}</em>; <strong>Advanced Domain Spell</strong> <em>@UUID[Compendium.pf2e.spells-srd.J8pL8yTshga8QOk8]{Delusional Pride}</em></p>
<p>You overcome your fear and project pride.</p>
------ Description (es) ------
<p><strong>Deities</strong> @UUID[Compendium.pf2e.deities.gutbzYTZvRTnq4on]{Adanye}, @UUID[Compendium.pf2e.deities.HtRxo4J3elFteIqu]{Arazni}, @UUID[Compendium.pf2e.deities.KDFujU3Yug6AwCOz]{Arshea}, @UUID[Compendium.pf2e.deities.QRkcFciCOmFoxF1B]{Asmodeus}, @UUID[Compendium.pf2e.deities.HD7g8T8ioy1EH3M8]{Bolka}, @UUID[Compendium.pf2e.deities.4GO4iT585ynLJnc8]{Chaldira}, @UUID[Compendium.pf2e.deities.vSUz97Y29l1O50bC]{Count Ranalc}, @UUID[Compendium.pf2e.deities.CzHjFLx4hpIEIoWt]{Dispater}, @UUID[Compendium.pf2e.deities.8DXel4AvpyUy6oJ0]{Eritrice}, @UUID[Compendium.pf2e.deities.Zi1UARhode3FSFLr]{General Susumu}, @UUID[Compendium.pf2e.deities.88vRw2ZVPax4hhga]{Gorum}, @UUID[Compendium.pf2e.deities.tk7gRxXsqvBwQrUF]{Grundinnar}, @UUID[Compendium.pf2e.deities.eErEiVmBqltYXFJ6]{Iomedae}, @UUID[Compendium.pf2e.deities.bF77ydtptI54STl9]{Jaidz}, @UUID[Compendium.pf2e.deities.Mv6uTJLh3VGEoGLH]{Nivi Rhombodazzle}, @UUID[Compendium.pf2e.deities.o9tK1T28LNEVzpFV]{Ragdya}, @UUID[Compendium.pf2e.deities.u3YfcJh1C4w6n75j]{Raumya}, @UUID[Compendium.pf2e.deities.97Qe42wJN5EVUS14]{Sturovenen}, @UUID[Compendium.pf2e.deities.PFp4Sdp2TDDKD62l]{Thamir}, @UUID[Compendium.pf2e.deities.N8a76dkGfUvxvSW0]{Trudd}</p>
<p><strong>Hechizo de Dominio</strong> <em>@UUID[Compendium.pf2e.spells-srd.Q25JQAgnJSGgFDKZ]{Velo de confianza}</em>; <strong>Hechizo de Dominio avanzado</strong> <em>@UUID[Compendium.pf2e.spells-srd.J8pL8yTshga8QOk8]{{Orgullo delirante}</em></p>
<p>Superas el miedo y proyectas orgullo</p> <p>.
