Name: Verdant Wheel Champion, Improved
Nombre: Campeón de la Rueda Verdant, Mejorado
Estado: auto-trad

------ Description (en) ------
<p><strong>[Faction]</strong></p>
<p><strong>Prerequisites</strong> Tier 2 with the Verdant Wheel, @UUID[Compendium.pf2e.pathfinder-society-boons.1FWpmtZHOLRvEIdp]{Verdant Wheel Champion}</p>
<p><strong>Cost</strong> 8 Fame</p>
<hr />
<p><strong>Effect</strong> This faction boon represents your expanding connections in the Verdant Wheel faction. While you have this boon slotted, you gain Reputation with the faction after a successfully completed adventure, as detailed in its Primary and Secondary Objectives.</p>
<p>In addition, when you slot this boon, you gain one additional boon slot during the adventure. You can use this additional boon slot only for a boon whose prerequisite includes a Verdant Wheel faction tier of 1, 2, or 3.</p>
<p><strong>Normal</strong> A character gains no Reputation unless they have a faction boon slotted.</p>
------ Description (es) ------
<p><strong>[Facción]</strong></p>
<p><strong>Requisitos</strong> Nivel 2 con la Rueda Verdant, @UUID[Compendium.pf2e.pathfinder-society-boons.1FWpmtZHOLRvEIdp]{{Campeón de la Rueda Verdant}</p> <p>.
<p><strong>Coste</strong> 8 Fama</p>
<hr />
<p><strong>Efecto</strong> Esta bendición de facción representa tus Conexión en expansión en la facción de la Rueda Verdant. Mientras tengas esta bendición ranurada, ganas Reputación con la facción tras una aventura completada con éxito, tal y como se detalla en sus Objetivos Primarios y Secundarios.</p> <p><strong>Efecto</strong>.
<p>Además, cuando ranuras esta bendición, ganas una ranura de bendición adicional durante la aventura. Puedes usar esta ranura de bendición adicional sólo para una bendición cuyo prerrequisito incluya un nivel de facción de la Rueda Verdant de 1, 2, o 3.</p> <p><strong>Normal</strong>.
<p><strong>Normal</strong> Un personaje no gana Reputación a menos que tenga una dote de facción asignada.
