Name: Illusion
Nombre: Ilusión
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>As an illusionist, you use magic to create images, figments, and phantasms to baffle your enemies. You understand that perception is reality. You add one 1st-level illusion spell (such as <em>@UUID[Compendium.pf2e.spells-srd.2oH5IufzdESuYxat]{Illusory Object}</em>) to your spellbook. You learn the <em>@UUID[Compendium.pf2e.spells-srd.fXdADBwxmBsU9xPk]{Warped Terrain}</em> school spell.</p>
------ Description (es) ------
<p>Como ilusionista, utilizas la magia para crear imágenes, invenciones y fantasmas con los que desconcertar a tus enemigos. Entiendes que la percepción es la realidad. Añades un conjuro de ilusión de 1er nivel (como <em>@UUID[Compendium.pf2e.spells-srd.2oH5IufzdESuYxat]{Objeto ilusorio}</em>) a tu libro de conjuros. Aprendes el <em>@UUID[Compendium.pf2e.spells-srd.fXdADBwxmBsU9xPk]{{Terreno distorsionado}</em> hechizo de escuela.</p>
