Parent Name: Zinogyvaz
Name: Drink Blood
Nombre: Beber Sangre
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Requirement</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, or willing creature is within Zinogyvaz's reach.</p>
<hr />
<p><strong>Effect</strong> Zinogyvaz sinks her fangs into that creature to drink its blood. This requires an Athletics check against the victim's Fortitude DC if the victim is grabbed and is automatic for any of the other conditions.</p>
<p>The victim is @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} and Zinogyvaz regains [[/r 24 #healing]]{24 Hit Points} and may inject the victim with vampire drider venom. Any excess HP is gained as temporary Hit Points. Drinking Blood from a creature that's already drained doesn't restore any HP to Zinogyvaz but increases the victim's drain value by 1. Zinogyvaz can also consume blood that's been emptied into a vessel for sustenance, but she gains no HP from doing so.</p>
<p>A victim's drained condition decreases by 1 per week. A blood transfusion, which requires a @Check[type:medicine|dc:20|name:Blood Transfusion] check and sufficient blood or a blood donor, reduces the drain by 1 after 10 minutes.</p>
------ Description (es) ------
<p><strong>Requisito</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, o una criatura voluntaria está dentro del alcance de Zinogyvaz.</p>
<hr />
<p><strong>Efecto</strong> Zinogyvaz hunde sus colmillos en esa criatura para beber su sangre. Esto requiere un chequeo de Atletismo contra la DC de Fortaleza de la víctima si la víctima es agarrada y es automático para cualquiera de los otros estados negativos.</p> <p><strong>Estado negativo</strong>.
<p>La víctima queda @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenada 1}# y Zinogyvaz recupera [[/r 24 #curación]]{24 Puntos de Golpe} y puede inyectar a la víctima veneno de dra vampírico. Cualquier exceso de HP se gana como Puntos de Golpe temporales. Beber Sangre de una criatura que ya está drenada no restaura ningún PS a Zinogyvaz, pero aumenta el valor de drenaje de la víctima en 1. Zinogyvaz también puede consumir sangre que ha sido vaciada en un recipiente para su sustento, pero no gana PS al hacerlo.</p> <p>La sangre de una víctima que ha sido vaciada en un recipiente para su sustento, pero no gana PS al hacerlo.</p> <p>La sangre de una víctima que ha sido vaciada en un recipiente para su sustento, pero no gana PS al hacerlo.</p> <p>La sangre de una víctima que ha sido vaciada en un recipiente para su sustento, pero no gana PS al hacerlo.
<p>El estado negativo de la victima (normalmente se abrevia a estado) disminuye en 1 por semana. Una transfusión de sangre, que requiere un chequeo @Check[type:medicine|dc:20|name:Blood Transfusion]# y sangre suficiente o un donante de sangre, reduce el drenado/a en 1 tras 10 minutos.</p> <p>
