Parent Name: Hollow Hush
Name: Emotional Focus
Nombre: Enfoque Emocional
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>Hollow Hush can cast the following cleric domain spells as 9th-level occult innate spells at will without spending Focus Points: <em>@UUID[Compendium.pf2e.spells-srd.Dj44lViYKvOJ8a53]{Blind Ambition}</em>, <em>@UUID[Compendium.pf2e.spells-srd.jJphHQlENHFlSElH]{Captivating Adoration}</em>, and <em>@UUID[Compendium.pf2e.spells-srd.J8pL8yTshga8QOk8]{Delusional Pride}</em>.</p>
------ Description (es) ------
<p>Hollow Hush puede lanzar los siguientes conjuros de dominio de clérigo como conjuros innatos de ocultismo de 9º nivel a voluntad sin gastar Puntos de Foco: <em>@UUID[Compendium.pf2e.spells-srd.Dj44lViYKvOJ8a53]{Ambición ciega}</em>, <em>@UUID[Compendium.pf2e.spells-srd.jJphHQlENHFlSElH]{Adoración cautivadora}</em>, y <em>@UUID[Compendium.pf2e.spells-srd.J8pL8yTshga8QOk8]{{Orgullo delirante}</em>.</p>
