Parent Name: Muse Phantom
Name: Thespian Aura
Nombre: Aura de Tespian
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>@Template[type:emanation|distance:30]{30 feet} @UUID[Compendium.pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>The muse phantom inspires a supernatural emotional response-either comedy or drama. Each creature that begins its turn in the aura must attempt a @Check[type:will|dc:20] save; on a failure, the creature is affected as long as it remains within the aura. If the muse phantom is emitting a comedic aura, affected creatures become @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1}; if it is emitting a dramatic aura, affected creatures instead become @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1}.</p>
<p>The muse phantom can change its aura from comedic to dramatic or vice-versa, or cease or activate this aura, by spending a single action, which has the concentrate trait. A creature possessed by a muse phantom is immune to this aura.</p>
------ Description (es) ------
<p>@Template[type:emanation|distance:30]{30 feet} @UUID[Compendium.pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>El fantasma musa inspira una respuesta emocional sobrenatural, ya sea comedia o drama. Cada criatura que comience su turno en el aura debe hacer una salvación @Check[type:will|dc:20]#; si falla, la criatura queda afectada mientras permanezca dentro del aura. Si el fantasma de la musa emite un aura cómica, las criaturas afectadas pasan a ser @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Torpes 1}#; si emite un aura dramática, las criaturas afectadas pasan a ser @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{{Anonadadas 1}##.</p> <p>
<p>El fantasma musa puede cambiar su aura de cómica a dramática o viceversa, o cesar o activar esta aura, gastando una única acción, que tiene el rasgo concentrado. Una criatura poseión por un fantasma musa es inmune a esta aura.</p> <p>
