Parent Name: Jafaki
Name: Infused Items
Nombre: Equipos infundidos
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>Jafaki carries these infused items: 2 @UUID[Compendium.pf2e.equipment-srd.SgtqZxt26BdjUmEB]{Moderate Acid Flasks}, 2 @UUID[Compendium.pf2e.equipment-srd.97QyNEOAyYLdGaYc]{Moderate Bottled Lightnings}, 2 @UUID[Compendium.pf2e.equipment-srd.qpzL9UnTi4cDhy6J]{Moderate Cognitive Mutagens}, 2 @UUID[Compendium.pf2e.equipment-srd.TZUskLT7yvP7N2co]{Lesser Elixirs of Life}, 2 @UUID[Compendium.pf2e.equipment-srd.Ax8XcBd0rRd1Z7hN]{Moderate Mistform Elixirs}, and 2 doses of @UUID[Compendium.pf2e.equipment-srd.WL4O32qFifxnMj0H]{Wyvern Poison} (one of which they have already applied to their rapier). These items last for 24 hours, or until the next time Jafaki makes their daily preparations.</p>
------ Description (es) ------
<p>Jafaki lleva estos Equipos infundidos: 2 @UUID[Compendium.pf2e.equipment-srd.SgtqZxt26BdjUmEB]{Frascos de ácido moderado}, 2 @UUID[Compendium.pf2e.equipment-srd.97QyNEOAyYLdGaYc]{Rayos embotellados moderados}, 2 @UUID[Compendium.pf2e.equipment-srd.qpzL9UnTi4cDhy6J]{Mutágenos cognitivos moderados}, 2 @UUID[Compendium.pf2e.equipment-srd.TZUskLT7yvP7N2co]{Elixires de la vida}, 2 @UUID[Compendium.pf2e.equipment-srd.Ax8XcBd0rRd1Z7hN]{Elixires de forma de niebla moderados}, y 2 dosis de @UUID[Compendium.pf2e.equipment-srd.WL4O32qFifxnMj0H]{{Veneno de wyvern} (una de las cuales ya han aplicado a su estoque). Estos objetos duran 24 horas, o hasta la próxima vez que Jafaki realice sus preparativos diarios.</p> <p>
