Name: Forgotten Shell
Nombre: Forgotten Shell
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>This <em>+2 resilient @UUID[Compendium.pf2e.equipment-srd.Gq1cZWSKOtJhKd2p]{Full Plate}</em>, crafted from grim plates of iron, covers the entire body except for small holes for the eyes and mouth.</p>
<p>While wearing the armor, you gain the benefits of a <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{Nondetection}</em> spell. Additionally, creatures attempting to Recall Knowledge about a subject involving you must succeed at a @Check[type:will|dc:30]. On a success, they can attempt the check normally. On a failure, they can still attempt the check, but even if they successfully Recall Knowledge, they don't remember you (although they might remember other details about the event). Creatures that fail their save can make another attempt to Recall Knowledge about you, but they must wait 24 hours to do so.</p>
<p>You can spend 1 hour using blacksmithing tools to bind a helpless Medium humanoid inside the suit, which welds the suit shut and makes it impossible to remove without breaking it (Hardness 9, HP 36, BT 18). The humanoid inside the suit counts as being Invested while bound in this fashion and can't break out of the suit on its own. If the suit is welded shut, the creature gains the benefits above but also the following penalties:</p>
<ul>
<li>Whenever the humanoid attempts a Deception, Diplomacy, Intimidation, or Performance check, they must roll twice and use the worse result.</li>
<li>Additionally, creatures the humanoid encounters have an initial attitude toward them of one degree worse than they normally would (for instance, @UUID[Compendium.pf2e.conditionitems.I1ffBVISxLr2gC4u]{Unfriendly} instead of @UUID[Compendium.pf2e.conditionitems.fuG8dgthlDWfWjIA]{Indifferent}).</li>
<li>Good creatures are @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} while carrying, wielding, or wearing this item crafted by the sea-witches.</li>
</ul>
<p><strong>Craft Requirements</strong> Supply a casting of <em>Nondetection</em> and <em>@UUID[Compendium.pf2e.spells-srd.KSAEhNfZyXMO7Z7V]{Outcast's Curse}</em>.</p>
------ Description (es) ------
<p>Este <em>+2 resistente @UUID[Compendium.pf2e.equipment-srd.Gq1cZWSKOtJhKd2p]{Full Plate}</em>, elaborado a partir de sombrías planchas de hierro, cubre todo el cuerpo excepto por pequeños orificios para los ojos y la boca.</p>
<p>Mientras lleves la armadura, obtienes los beneficios de un hechizo <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{{Nondetectabilidad}</em>. Además, las criaturas que hagan Recordar conocimiento sobre un tema en el que estés implicado deben tener éxito en un @Check[type:will|dc:30]##. Si tiene éxito, puede hacer la tirada normalmente. Si fallan, aún pueden hacer el chequeo, pero incluso si consiguen Recordar conocimiento, no te recordarán (aunque podrían recordar otros detalles sobre el evento). Las criaturas que fallen el chequeo pueden hacer otro intento de Recordar conocimiento sobre ti, pero deben esperar 24 horas para hacerlo.
<p>Puedes emplear 1 hora utilizando herramientas de herrería para atar a un humanoide mediano indefenso dentro del traje, lo que suelda el traje y hace que sea imposible quitárselo sin romperlo (Dureza 9, HP 36, BT 18). El humanoide dentro del traje cuenta como Investido mientras está atado de esta manera y no puede salir del traje por sí mismo. Si el traje está soldado, la criatura obtiene los beneficios anteriores, pero también las siguientes penalizaciones:</p> <p>
<ul>
<li>Cada vez que el humanoide haga un chequeo de Enga, Diplomacia, Intimidación o Interpretar, debe tirar dos veces y utilizar el peor resultado.</li>
<li>Además, las criaturas con las que se encuentra el humanoide tienen una actitud inicial hacia ellos un grado peor que la que tendrían normalmente (por ejemplo, @UUID[Compendium.pf2e.conditionitems.I1ffBVISxLr2gC4u]{Inamistoso} en vez de @UUID[Compendium.pf2e.conditionitems.fuG8dgthlDWfWjIA]{Indiferente}).</li>
<li>Las criaturas buenas están @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enflaquecidas 2}# mientras portan, empuñan o llevan este objeto elaborado por las brujas del mar.</li>
</ul>
<p><strong>Requisitos de Artesanía</strong> Suministrar una fundición de <em>Indetectabilidad</em> y <em>@UUID[Compendium.pf2e.spells-srd.KSAEhNfZyXMO7Z7V]{Maldición del paria}</em>.</p> <p>
