Name: Unsullied Blood (Major)
Nombre: Unsullied Blood (Superior)
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Activate</strong><span class="pf2-icon"> A</span> envision</p>
<hr />
<p>Blood offered from a willing donor was taken directly from the vein and stored in an ornate vial that keeps it as pure and red as the day it was extracted. When this catalyst is added to a <em>@UUID[Compendium.pf2e.spells-srd.N1Z1oLPdBxaSgrEE]{Vampiric Touch}</em>, <em>@UUID[Compendium.pf2e.spells-srd.07xYlmGX32XtHGEt]{Vampiric Maiden}</em>, or <em>@UUID[Compendium.pf2e.spells-srd.fd31tAHSSGXyOxW6]{Vampiric Exsanguination}</em> spell of any level, instead of gaining temporary Hit Points based on the damage dealt, you recover half of the damage dealt as Hit Points. If the amount of Hit Points that would be restored by the spell exceeds your Hit Point maximum, you gain the excess as temporary Hit Points.</p>
------ Description (es) ------
<p><strong>Activar</strong><span class="pf2-icon"> A</span> visualizar</p>
<hr />
<p>La sangre ofrecida por un donante dispuesto se extrajo directamente de la vena y se almacenó en un vial ornamentado que la mantiene tan pura y roja como el día en que se extrajo. Cuando este catalizador se añade a un <em>@UUID[Compendium.pf2e.spells-srd.N1Z1oLPdBxaSgrEE]{Toque vampírico}</em>, <em>@UUID[Compendium.pf2e.spells-srd.07xYlmGX32XtHGEt]{Doncella vampírica}</em>, o <em>@UUID[Compendium.pf2e.spells-srd.fd31tAHSSGXyOxW6]{{Desangramiento vampírico}</em> hechizo de cualquier nivel, en lugar de ganar Puntos de Golpe temporales en función del daño infligido, recuperas la mitad del daño infligido como Puntos de Golpe. Si la cantidad de Puntos de Golpe que serían restaurados por el hechizo excede tu máximo de Puntos de Golpe, ganas el exceso como Puntos de Golpe temporales.</p> <p>
