Name: Cube of Nex
Nombre: Cubo de Nex
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>The Cube of Nex is an enchanted cube that measures an inch across. The sides of the Cube of Nex are decorated so that they can be distinguished by touch.</p>
<p>Within 5 feet of the Cube of Nex, all magic is suppressed or impossible to cast, with the effects of a 10th-level <em>@UUID[Compendium.pf2e.spells-srd.My7FvAoLYgGDDBzy]{Antimagic Field}</em> spell. However, spells you cast and magic items you wield ignore the <em>@UUID[Compendium.pf2e.spells-srd.My7FvAoLYgGDDBzy]{Antimagic Field}</em> from the Cube of Nex.</p>
<p><strong>Activate</strong> <span class="pf2-icon">2</span> Interact</p>
<p><strong>Frequency</strong> once per hour</p>
<hr />
<p><strong>Effect</strong> You hold the cube aloft and depress one of its six faces for several seconds. The cube creates six walls around you, creating a cube 10 feet on each side centered on you (typically centered on the top of your space if you're a Medium creature). If a creature or object overlaps any of these walls, that face of the cube doesn't appear; this also means if you're Huge or larger, the activation has no effect, as your space is larger than the cube would be. The effect of the six walls depends on which face of the cube you press when you Activate the cube, as seen on the Cube Effects table (below). Pressing the sixth cube face with a simple Interact action Dismisses the effect; doing so isn't an activation and thus doesn't count against the cube's frequency. The walls have the AC, Hit Points, and Hardness of a <em>@UUID[Compendium.pf2e.spells-srd.7Iela4GgVeO3LfAo]{Wall of Force}</em>.You must first Dismiss any previous activation before you use it again.</p>
<hr />
<p><strong>Activate</strong><span class="pf2-icon">2</span> Interact</p>
<p><strong>Frequency</strong>: once per minute</p>
<hr />
<p><strong>Effect</strong> A cube of force or Lesser Cube of Nex within 60 feet of you becomes inert. It can't be Activated, any current activation ends, and any constant abilities it has cease to function.</p>
<table class="pf2-table">
<thead>
<tr>
<th>Cube Face</th>
<th>Effect</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>The walls keep out gas and wind, attempting to counteract such effects that cross the threshold with a [[/r 1d20+20 #Counteract]]{+20} counteract modifier but allowing all other things through.</td>
</tr>
<tr>
<td>2</td>
<td>The walls block nonliving matter from crossing; a nonliving creature must succeed at a @Check[type:will|dc:30] save to cross the threshold, wasting their move action on a failure, and unattended objects can't cross. Non-magical ranged attacks can't cross either and instead attack the wall. A living creature can bring attended objects across the walls without needing to attempt a saving throw.</td>
</tr>
<tr>
<td>3</td>
<td>The walls block living matter from crossing; a living creature must succeed at a @Check[type:will|dc:30] save to cross the threshold, wasting their move action on a failure.</td>
</tr>
<tr>
<td>4</td>
<td>The walls keep out magical effects that cross the threshold, attempting to counteract magical effects with a [[/r 1d20+20 #Counteract]]{+20} counteract modifier, though they don't prevent a creature with magical items or effects from entering.</td>
</tr>
<tr>
<td>5</td>
<td>The walls block everything, with the effects of <em>@UUID[Compendium.pf2e.spells-srd.7Iela4GgVeO3LfAo]{Wall of Force}</em>.</td>
</tr>
<tr>
<td>6</td>
<td>The cube is Dismissed (this takes only an Interact action and isn't an activation).</td>
</tr>
</tbody>
</table>
------ Description (es) ------
<p>El Cubo de Nex es un cubo encantado que mide una pulgada de diámetro. Las caras del Cubo de Nex están decoradas para que puedan distinguirse al tacto.</p> <p>El Cubo de Nex es un cubo encantado que mide una pulgada de diámetro.
<p>En un radio de 1,5 metros del Cubo de Nex, toda la magia es suprimida o imposible de lanzar, con los efectos de un hechizo <em>@UUID[Compendium.pf2e.spells-srd.My7FvAoLYgGDDBzy]{{Campo de Antimagia}</em> de 10º nivel. Sin embargo, los hechizos que lances y los objetos mágicos que empuñes ignoran el <em>@UUID[Compendium.pf2e.spells-srd.My7FvAoLYgGDDBzy]{{Campo de antimagia}</em> del Cubo de Nex.</p> <p>
<p><strong>Activar</strong> <span class="pf2-icon">2</span> Interactuar</p>
<p><strong>Frecuencia</strong> una vez por hora</p>
<hr />
<p><strong>Efecto</strong> Mantienes el cubo en alto y presionas una de sus seis caras durante varios segundos. El cubo crea seis paredes a tu alrededor, creando un cubo de 10 pies a cada lado centrado en ti (normalmente centrado en la parte superior de tu espacio si eres una criatura Mediana). Si una criatura u objeto se superpone a cualquiera de estas paredes, esa cara del cubo no aparece; esto también significa que si eres Enorme o mayor, la activación no tiene efecto, ya que tu espacio es mayor de lo que sería el cubo. El efecto de las seis paredes depende de la cara del cubo que pulses al Activar el cubo, como se ve en la tabla Efectos del cubo (más abajo). Aprovechar la sexta cara del cubo con una simple acción de Interactuar anula el efecto; hacerlo no es una activación y, por tanto, no cuenta para la frecuencia del cubo. Los muros tienen la CA, los Puntos de Golpe y la Dureza de un <em>@UUID[Compendium.pf2e.spells-srd.7Iela4GgVeO3LfAo]{Muro de fuerza}</em>.Primero debes Desestimar cualquier activación anterior antes de volver a utilizarlo.</p> <p>
<hr />
<p><strong>Activar</strong><span class="pf2-icon">2</span> Interactuar</p>
<p><strong>Frecuencia</strong>: una vez por minuto</p>
<hr />
<p><strong>Efecto</strong> Un cubo de fuerza o cubo menor de Nex en un radio de 60 pies de ti se vuelve inerte. No puede ser Activado, cualquier activación actual termina, y cualquier habilidad constante que tenga deja de funcionar.</p> <p>
<table class="pf2-table">
<head>
<tr>
<th>Cara de cubo</th>
<th>Efecto</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Los muros impiden el paso del gas y el viento, haciendo un intento de contrarrestar tales efectos que cruzan el umbral con un modificador de contrarrestar [[/r 1d20+20 #Contrarrestar]]{+20} pero permitiendo el paso de todas las demás cosas.</td>
</tr>
<tr>
<td>2</td>
<td>Los muros impiden el paso de materia no viva; una criatura no viva debe tener éxito en una salvación @Check[type:will|dc:30]# para cruzar el umbral, desperdiciando su acción de movimiento en caso de fallo, y los objetos desatendidos no pueden cruzar. Los ataques a distancia no mágicos tampoco pueden cruzar y en su lugar atacan a la pared. Una criatura viva puede llevar objetos atendidos a través de los muros sin necesidad de hacer una tirada de salvación.</td>
</tr>
<tr>
<td>3</td>
<td>Los muros impiden que la materia viva los cruce; una criatura viva debe tener éxito en una @Check[type:will|dc:30]## salvación para cruzar el umbral, desperdiciando su acción de movimiento en caso de fallo.</td>
</tr>
<tr>
<td>4</td>
<td>Los muros impiden el paso de efectos mágicos que crucen el umbral, haciendo que contrarresten los efectos mágicos con un modificador de contrarrestar [[/r 1d20+20 #Contrarrestar]]{+20}, aunque no impiden que entre una criatura con objetos o efectos mágicos.</td> <td>Los muros impiden el paso de efectos mágicos que crucen el umbral, haciendo que contrarresten los efectos mágicos con un modificador de contrarrestar [[/r 1d20+20 #Contrarrestar]]{+20}.
</tr>
<tr>
<td>5</td>
<td>Los muros lo bloquean todo, con los efectos de <em>@UUID[Compendium.pf2e.spells-srd.7Iela4GgVeO3LfAo]{Muro de fuerza}</em>.</td>
</tr>
<tr>
<td>6</td>
<td>El cubo se Retira (esto sólo requiere una acción Interactuar y no es una activación).</td>
</tr>
</tbody>
</table>
