Name: Grievous
Nombre: Grave
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>When your attack roll with this weapon is a critical hit and gains the critical specialization effect, you gain an additional benefit depending on the weapon group.</p>
<p><strong>Axe</strong> You can damage a third creature, with the same restrictions.</p>
<p><strong>Bow</strong> The Athletics check to pull the missile free is DC 20.</p>
<p><strong>Brawling</strong> The target takes a -4 circumstance penalty to its save.</p>
<p><strong>Club</strong> You can knock the target up to 15 feet away.</p>
<p><strong>Dart</strong> The base pers @UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage} increases to 2d6.</p>
<p><strong>Flail</strong> You move the target 5 feet. You can't move it away from you, but you can move it in another direction of your choice.</p>
<p><strong>Hammer</strong> You can also knock the target 5 feet away from you.</p>
<p><strong>Knife</strong> The target takes a -5-foot status penalty to its Speed while it has the @UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}.</p>
<p><strong>Pick</strong> The extra damage from the critical specialization effect increases to 4 per weapon damage die.</p>
<p><strong>Polearm</strong> You can move the target up to 10 feet.</p>
<p><strong>Shield</strong> You can knock the target up to 10 feet away.</p>
<p><strong>Sling</strong> The target also takes a -10-foot status penalty to its Speed for 1 round if it fails the save.</p>
<p><strong>Spear</strong> The clumsy condition lasts for 2 rounds.</p>
<p><strong>Sword</strong> The target is flat-footed until the end of your next turn.</p>
------ Description (es) ------
<p>Cuando tu tirada de ataque con esta arma es un golpe crítico y obtiene el efecto de especialización crítica, obtienes un beneficio adicional dependiendo del grupo de armas.</p> <p
<p><strong>Hacha</strong> Puedes dañar a una tercera criatura, con las mismas restricciones.</p>
<p><strong>Arco</strong> El chequeo de Atletismo para liberar el proyectil es DC 20.</p> <p><strong>Arco</strong>.
<p><strong>Arrastrarse</strong> El objetivo sufre una penalización de -4 a su salvación por circunstancias.</p> <p> <strong>Balanceo</strong>.
<p><strong>Club</strong> Puedes derribar al objetivo a una distancia de hasta 15 pies.</p> <p><strong>Dardo</strong>.
<p><strong>Dardo</strong> La base pers@UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{{Daño persistente por sangrado} aumenta a 2d6.</p>
<p><strong>Flail</strong> Mueves al objetivo 1,5 metros. No puedes alejarlo de ti, pero puedes moverlo en otra dirección a tu elección.</p> <p
<p><strong>Martillo</strong> También puedes designar como objetivo una apertura de 1,5 metros lejos de ti.</p> <p> <strong>También puedes designar como objetivo una apertura de 1,5 metros lejos de ti</strong>.
<p><strong>Cuchillo</strong> El objetivo sufre una penalización de situación de -5 pies a su Velocidad mientras tenga el @UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{Daño persistente de sangrado}.</p> <p>
<p><strong>Pico</strong> El daño extra del efecto de especialización crítica aumenta a 4 por dado de daño del arma.</p>
<p><strong>Polearm</strong> Puedes desplazar al objetivo hasta 3 metros.</p> <p><strong>Polearm</strong>.
<p><strong>Escudo</strong> Puedes designar como objetivo una apertura de hasta 3 metros.</p> <p>Escudo</strong> Puedes designar como objetivo una apertura de hasta 3 metros.</p> <p>Escudo</strong> Puedes designar como objetivo una apertura de hasta 3 metros.
<p><strong>Honda</strong> El objetivo también sufre una penalización de situación de -10 pies a su Velocidad durante 1 asalto si falla la salvación.</p> <p><strong>Honda</strong>.
<p><strong>Espada</strong> El estado negativo (normalmente se abrevia a estado) dura 2 asaltos.
<p><strong>Espada</strong> El objetivo queda con los pies planos hasta el final de tu siguiente turno.</p> <p>Espada</strong>.
