Name: Shard of the Third Seal
Nombre: Fragmento del Tercer Sello
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>This stone fragment from the Third Seal retains a tiny sliver of that legendary item's power. The shard sheds light constantly, with the effects of a torch requiring no oxygen and generating no heat. The flame can be covered or @UUID[Compendium.pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Hidden}, but it can't be smothered or quenched.</p>
<hr />
<p><strong>Activate</strong><span class="pf2-icon">2</span> envision, Interact</p>
<p><strong>Effect</strong> You generate the effects of a <em>@UUID[Compendium.pf2e.spells-srd.kcelf6IHl3L9VXXg]{Disrupt Undead}</em> cantrip, heightened to 3rd level.</p>
<hr />
<p><strong>Activate</strong><span class="pf2-icon">2</span> envision, Interact</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> By passing the shard over a creature or object, you can produce the effects of a <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{Nondetection}</em> spell on that target.</p>
<hr />
<p><strong>Activate</strong><span class="pf2-icon">2</span> envision, Interact</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> By gripping the shard tightly and waving it before you, you can produce the effects of a <em>@UUID[Compendium.pf2e.spells-srd.fI20AVwOzJMHXRdo]{Levitate}</em> spell on yourself.</p>
------ Description (es) ------
<p>Este fragmento de piedra del Tercer Sello conserva una pequeña pizca del poder de ese objeto legendario. El fragmento emite luz constantemente, con los efectos de una antorcha que no necesita oxígeno ni genera calor. La llama puede cubrirse o @UUID[Compendium.pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Ocultarse}, pero no puede sofocarse ni apagarse.</p> <p>
<hr />
<p><strong>Activar</strong><span class="pf2-icon">2</span> visualizar, Interactuar</p>
<p><strong>Efecto</strong> Generas los efectos de un <em>@UUID[Compendium.pf2e.spells-srd.kcelf6IHl3L9VXXg]{Disruptora de muertos vivientes}</em> cantrip, potenciados a 3er nivel.</p>
<hr />
<p><strong>Activar</strong><span class="pf2-icon">2</span> visualizar, Interactuar</p>
<p><strong>Frecuencia</strong> una vez al día</p>
<p><strong>Efecto</strong> Al pasar el fragmento sobre una criatura u objeto, puedes producir los efectos de un hechizo <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{{Indetectabilidad}</em> sobre ese objetivo.</p> <p><strong>Efecto</strong>.
<hr />
<p><strong>Activar</strong><span class="pf2-icon">2</span> visualizar, Interactuar</p>
<p><strong>Frecuencia</strong> una vez al día</p>
<p><strong>Efecto</strong> Al agarrar el fragmento con fuerza y agitarlo ante ti, puedes producir los efectos de un hechizo <em>@UUID[Compendium.pf2e.spells-srd.fI20AVwOzJMHXRdo]{Levitar}</em> sobre ti.</p>
