Parent Name: Blood Hag
Name: Drain Blood
Nombre: Drenar sangre
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Requirements</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, or willing creature is within the blood hag's reach</p>
<hr />
<p><strong>Effect</strong> The hag sinks her fangs into the creature to drink its blood. This requires a successful @Check[type:athletics] check against the victim's Fortitude DC if the victim is grabbed and is automatic for any of the other conditions.</p>
<p>The victim becomes @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1}. The hag regains [[/r 15[healing]]]{15 Hit Points}, gaining any excess HP as temporary Hit Points that last for 1 hour. Drinking blood from a creature that's already drained doesn't restore any Hit Points to the hag but increases the victim's drained value by 1, killing the victim when it reaches drained 5.</p>
<p>A victim's drained condition decreases by 1 per week. A blood transfusion, which requires a successful @Check[type:medicine|dc:20] check and sufficient blood or a blood donor, reduces the drained condition by 1 after 10 minutes.</p>
------ Description (es) ------
<p><strong>Requisitos</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}#, o criatura dispuesta está dentro del alcance del malífico de sangre</p>
<hr />
<p><strong>Efecto</strong> La bruja hunde sus colmillos en la criatura para beber su sangre. Esto requiere un chequeo exitoso @Check[type:athletics] contra la DC de Fortaleza de la víctima si la víctima es agarrada y es automático para cualquiera de los otros estados negativos.</p> <p><strong>La víctima se vuelve @Check[type:athletics]#####################################.
<p>La víctima queda @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenado 1}#. El maléfico recupera [[/r 15[curación]]]{15 Puntos de Vida}, ganando cualquier HP sobrante como Puntos de Vida temporales que duran 1 hora. Beber sangre de una criatura que ya está drenada no restaura ningún Punto de Golpe a la bruja, pero aumenta el valor de drenado/a de la víctima en 1, matando a la víctima cuando llega a drenado/a 5.</p> <p>
<p>El estado negativo de la víctima (normalmente se abrevia a estado) disminuye en 1 por semana. Una transfusión de sangre, que requiere un chequeo @Check[type:medicine|dc:20]# exitoso y suficiente sangre o un donante de sangre, reduce el estado drenado/a en 1 tras 10 minutos.</p> <p>
