Name: Loremaster's Etude
Nombre: Estudio del maestro del saber
PrereqEN: enigma muse
PrereqES: musa enigma
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>You magically unlock memories, making them easier to recall. You learn the <em>@UUID[Compendium.pf2e.spells-srd.5Pc55FGGqVpIAJ62]{Loremaster's Etude}</em> composition spell. Increase the number of Focus Points in your focus pool by 1.</p>
------ Description (es) ------
<p>Desbloqueas recuerdos mágicamente, facilitando su evocación. Aprendes el <em>@UUID[Compendium.pf2e.spells-srd.5Pc55FGGqVpIAJ62]{{Estudio del maestro del saber}</em> conjuro de composición. Aumenta el número de Puntos de Foco de tu reserva de foco en 1.</p> <p class="spip">.
