Name: Shielded Tome
Nombre: Tomo Escudo
PrereqEN: Raise a Tome
PrereqES: Levantar un Tomo
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>During your daily preparations, you can magically fuse a shield into your favorite book, where it appears as an elaborate bookmark. While the two are fused, the book shares the Hardness, Hit Points, and Broken Threshold of the shield, and it can be used to @UUID[Compendium.pf2e.feats-srd.jM72TjJ965jocBV8]{Shield Block} if you have that reaction, with a requirement of "You have Raised the Tome" instead of the usual requirements.</p>
<p>You can switch the fused item's form from a book to a shield with a book-shaped motif as a single action, which has the concentrate trait. When the item is in book form, you can read the book and Raise the Tome, and when it's in shield form, you can Raise the Shield, Activate it, and gain any other benefits or effects the shield normally has (such as a @UUID[Compendium.pf2e.equipment-srd.OqDAx4HJ39ojVtvg]{Spellguard Shield's} bonus to saving throws against magic).</p>
<p>The fusion lasts until your next daily preparations.</p>
------ Description (es) ------
<p>Durante tus preparativos diarios, puedes fundir mágicamente un escudo en tu libro favorito, donde aparece como un elaborado marcapáginas. Mientras ambos están fusionados, el libro comparte la Dureza, los Puntos de Golpe y el Umbral de Rotura del escudo, y puede usarse para @UUID[Compendium.pf2e.feats-srd.jM72TjJ965jocBV8]{Bloquear con el escudo} si tienes esa reacción, con un requisito de "Has levantado el tomo" en lugar de los requisitos habituales.</p> <p>
<p>Puedes cambiar la forma del objeto fusionado de un libro a un escudo con un motivo en forma de libro como una sola acción, que tiene el rasgo concentrado. Cuando el objeto está en forma de libro, puedes leer el libro y Alzar el Tomo, y cuando está en forma de escudo, puedes Alzar el Escudo, Activarlo y obtener cualquier otro beneficio o efecto que el escudo tenga normalmente (como un bonificador @UUID[Compendium.pf2e.equipment-srd.OqDAx4HJ39ojVtvg]{{Escudo de guardia contra conjuros}## a las tiradas de salvación contra magia).</p> <p>
<p>La fusión dura hasta tus siguientes preparaciones diarias.</p>
