Name: Phantom Pain
Nombre: Dolor fantasmal
Estado: modificada
Estado original: auto-trad

------ Data ------
DurationEN: 1 minute
DurationES: 1 minuto
RangeEN: 30 feet
RangeES: 30 pies
TargetEN: 1 creature
TargetES: 1 criatura
TimeEN: 2
TimeES: 2
------ Description (en) ------
<p>Illusory pain wracks the target, dealing 2d4 mental damage and 1d4 persistent mental damage. The target must attempt a Will save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target takes full initial damage but no persistent damage, and the spell ends immediately.</p>
<p><strong>Failure</strong> The target takes full initial and persistent damage, and the target is @UUID[Compendium.pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1}. If the target recovers from being Sickened, the persistent damage ends and the spell ends.</p>
<p><strong>Critical Failure</strong> As failure, but the target is @UUID[Compendium.pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 2}.</p>
<hr />
<p><strong>Heightened (+1)</strong> The damage increases by 2d4 and the persistent damage by 1d4.</p>
------ Description (es) ------
<p>El dolor ilusorio sacude al objetivo, infligiéndole 2d4 de daño mental y @Localize[PF2E.PersistentDamage.Mental1d4.success]#. El objetivo debe hacer una tirada de salvación de Voluntad.</p> <p>El objetivo debe hacer una tirada de salvación de Voluntad.
<hr />
<p><strong>Éxito crítico</strong> El objetivo no se ve afectado.</p> <p><strong>Exito crítico</strong>.
<p><strong>Éxito</strong> El objetivo recibe todo el daño inicial pero no @UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{{Daño Mental Persistente}#, y el hechizo termina inmediatamente.</p> <p><strong>Exito</strong>.
<p><strong>Fallo</strong> El objetivo recibe todo el Daño inicial y Persistente, y el objetivo queda @UUID[Compendium.pf2e.conditionitems.fesd1n5eVhpCSS18]{Enfermo 1}. Si el objetivo se recupera de estar Enfermo, el Daño persistente termina y el hechizo finaliza.</p> <p
<p><strong>Fallo Crítico</strong> Como el fallo, pero el objetivo queda @UUID[Compendium.pf2e.conditionitems.fesd1n5eVhpCSS18]{Enfermo 2}#.</p> <p>
<hr />
<p><strong>Enfermo (+1)</strong> El daño aumenta en 2d4 y el Daño persistente en 1d4.</p> <p>
