Name: Déjà Vu
Nombre: Déjà Vu
Estado: modificada
Estado original: auto-trad

------ Data ------
DurationEN: 2 rounds
DurationES: 2 asaltos
RangeEN: 100 feet
RangeES: 100 pies
TargetEN: 1 creature
TargetES: 1 criatura
TimeEN: 2
TimeES: 2
------ Description (en) ------
<p>You loop a thought process in the target's mind, forcing it to repeat the same actions over again. The target must attempt a Will save. If the target fails, whatever actions the target uses on its next turn, it must repeat on its following turn. The actions must be repeated in the same order and as close to the same specifics as possible. For example, if the target makes an attack, it must repeat the attack against the same creature, if possible, and if the target moves, it must move the same distance and direction, if possible, on its next turn.</p>
<p>If the target can't repeat an action, such as @UUID[Compendium.pf2e.actionspf2e.aBQ8ajvEBByv45yz]{Casting a Spell} that has been exhausted or needing to target a creature that has died, it can act as it chooses for that action but becomes @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} until the end of its turn.</p>
------ Description (es) ------
<p>Pones en bucle un proceso mental en la mente del objetivo, obligándole a repetir las mismas acciones una y otra vez. El objetivo debe hacer un intento de salvación de Voluntad. Si el objetivo falla, cualquier acción que el objetivo use en su siguiente turno, debe repetirla en su siguiente turno. Las acciones deben repetirse en el mismo orden y de la forma más específica posible. Por ejemplo, si el objetivo realiza un ataque, debe repetir el ataque contra la misma criatura, si es posible, y si el objetivo se mueve, debe moverse la misma distancia y dirección, si es posible, en su siguiente turno.</p> <p>Si el objetivo falla, debe repetir el ataque contra la misma criatura, si es posible, y si el objetivo se mueve, debe moverse la misma distancia y dirección, si es posible, en su siguiente turno.
<p>Si el objetivo no puede repetir una acción, como @UUID[Compendium.pf2e.actionspf2e.aBQ8ajvEBByv45yz]{Lanzar un conjuro}# que se ha agotado o necesita designar como objetivo a una criatura que ha muerto, puede actuar como elija para esa acción pero se convierte en @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Estupefacto 1} hasta el final de su turno.</p> <p> <p>Si el objetivo no puede repetir una acción, como @UUID[Compendium.pf2e.actionspf2e.aBQ8ajvEBByv45yz]{{Lanzar un conjuro}# que se ha agotado o necesita designar como objetivo a una criatura que ha muerto, puede actuar como elija para esa acción pero se convierte en @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Estupefacto 1}# hasta el final de su turno.</p> <p>
