Name: Cleansing Flames
Nombre: Cleansing Flamígera
Estado: modificada
Estado original: auto-trad

------ Data ------
RangeEN: touch
RangeES: toque
TargetEN: 1 creature
TargetES: 1 criatura
TimeEN: 2
TimeES: 2
------ Description (en) ------
<p>You wrap the target in purifying flames. You can attempt to counteract a single poison or non-curse effect imparting the @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy}, @UUID[Compendium.pf2e.conditionitems.TkIyaNPgTZFBCCuh]{Dazzled}, @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled}, @UUID[Compendium.pf2e.conditionitems.HL2l2VRSaQHu9lUw]{Fatigued}, @UUID[Compendium.pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened}, or @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied} condition. The target can choose to empower the flames with their life force, becoming @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} (or increasing their drained value by 1, if already under the condition) to grant you a +1 circumstance bonus to your counteract check.</p>
------ Description (es) ------
<p>Envuelves al objetivo en llamas purificadoras. Puedes hacer contrarrestar un único efecto de veneno o no maldición que imparta el @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy}, @UUID[Compendium.pf2e.conditionitems.TkIyaNPgTZFBCCuh]{Dazzled}, @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled}, @UUID[Compendium.pf2e.conditionitems.HL2l2VRSaQHu9lUw]{Fatigado}, @UUID[Compendium.pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralizado}, @UUID[Compendium.pf2e.conditionitems.fesd1n5eVhpCSS18]{Enfermo}, o @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Estupefacto}estado negativo. El objetivo puede elegir potenciar las llamas con su fuerza vital, convirtiéndose en @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenado 1} (o aumentando su valor drenado en 1, si ya está bajo la condición) para concederte un bonificador +1 de circunstancia a tu chequeo de contrarrestar.</p> <p>
