Parent Name: Balor
Name: Aura of Flame
Nombre: Aura de llamas
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>@Template[type:emanation|distance:20]{20 feet} @UUID[Compendium.pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>A foe that starts its turn in the aura takes [[/r (3d6+10)[fire]]] damage, or [[/r (6d6+20)[fire]]] damage if the balor has @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed} or @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained} it. A creature that hits a balor with an unarmed Strike takes [[/r (3d6+10)[fire]]] damage, and weapons that hit a balor take [[/r (3d6+10)[fire]]] damage.</p>
------ Description (es) ------
<p>@Template[type:emanation|distance:20]{20 feet} @UUID[Compendium.pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>Un enemigo que comienza su turno en el aura recibe [[/r (3d6+10)[fuego]]] de daño, o [[/r (6d6+20)[fuego]]] de daño si el balor lo ha @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agarrado} o @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{{Restringido}. Una criatura que golpea a un balor con un Golpe sin armas recibe [[/r (3d6+10)[fuego]]] de daño, y las armas que golpean a un balor reciben [[/r (3d6+10)[fuego]]] de daño.</p>
