Name: Primal Hierophant
Nombre: Hierofante primigenio
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>You command the most potent forces of primal magic and can cast a spell of truly incredible power. You gain a single 10th-level spell slot and can prepare a spell in that slot using primal spellcasting. You can't use this spell slot for abilities that let you cast spells without expending spell slots or that give you more spell slots. Unlike with other spell slots, you don't gain more 10th-level spells as you level up, though you can take the @UUID[Compendium.pf2e.feats-srd.Chu6s3xVnpOB64GH]{Hierophant's Power} feat to gain a second slot.</p>
------ Description (es) ------
<p>Comandas las fuerzas más potentes de la magia primigenia y puedes lanzar un hechizo de poder realmente sensacional. Ganas una única ranura de conjuro de 10º nivel y puedes preparar un conjuro en esa ranura usando lanzamiento de conjuros primigenios. No puedes utilizar esta ranura de conjuro para habilidades que te permitan lanzar conjuros sin gastar ranuras de conjuro o que te proporcionen más ranuras de conjuro. A diferencia de otras ranuras de conjuro, no obtienes más conjuros de 10º nivel al subir de nivel, aunque puedes realizar la proeza @UUID[Compendium.pf2e.feats-srd.Chu6s3xVnpOB64GH]{{Poder del hierofante}# para obtener una segunda ranura.</p> <p>
