Name: Wand
Nombre: Varita
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>Wand implements are short, lightweight batons, usually made of wood but often incorporating other materials. Due to their association with spellcasters, wand implements are connected to magic and its practice, as well as the direction and manipulation of energy. Wand implements are associated with the astrological signs of the thrush and the sky dragon.</p>
<h3><strong>Initiate Benefit</strong></h3>
<p>Your wand slowly collects ambient magic, which you can project at a foe in a barely controlled display of charged energy. When you gain this implement, choose whether your wand is attuned to cold, electricity, or fire. You gain the @UUID[Compendium.pf2e.actionspf2e.04VQuQih77pxX06q]{Fling Magic} activity.</p>
<h3><strong>Adept Benefit</strong></h3>
<p>You gain versatility and additional benefits when you fire your wand. The range of Fling Magic increases to 120 feet. Choose a second damage type from the list; whenever you Fling Magic, you can select between either of the two damage types you have chosen. Fling Magic has an additional effect if the target fails its save and takes damage, depending on the type.</p>
<ul>
<li>Cold: The target becomes chilled, taking a -10-foot status penalty to its Speeds for 1 round.</li>
<li>Electricity: The target is shocked, becoming @UUID[Compendium.pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} until the end of your next turn.</li>
<li>Fire: The target catches flame, taking [[/r 1d10[persistent,fire]]] (or [[/r 2d10[persistent,fire]]] on a critical failure). If you have the wand paragon benefit, this increases to [[/r 2d10[persistent,fire]]] (or [[/r 4d10[persistent,fire]]] on a critical failure).</li>
</ul>
<h3><strong>Intensify Vulnerability</strong></h3>
<p>Your empowered wand surges with ever-more-powerful magic. When you Fling Magic to damage the target of your Exploit Vulnerability, you deal additional damage to the creature equal to 1 + the number of damage dice.</p>
<h3><strong>Paragon Benefit</strong></h3>
<p>Your mastery of your wand grants you increased versatility, range, and area. The range of Fling Magic increases to 180 feet. You gain the ability to choose between all three damage types (cold, electricity, and fire) each time you use Fling Magic. When you Fling Magic, you can choose to target a single creature or to affect all creatures in a @Template[type:burst|distance:20].</p>
------ Description (es) ------
<p>Los implementos de varita son bastones cortos y ligeros, normalmente de madera pero que a menudo incorporan otros materiales. Debido a su asociación con los hechiceros, los implementos de varita están relacionados con la magia y su práctica, así como con la dirección y manipulación de la energía. Los utensilios de varita se asocian con los signos astrológicos del tordo y el dragón celeste.</p> <p><strong>Las varitas mágicas</strong>.
<h3><strong>Iniciar Beneficio</strong></h3>
<p>Tu varita recoge lentamente magia ambiental, que puedes proyectar sobre un enemigo en un despliegue apenas controlado/a de energía cargada. Cuando obtengas este implemento, elige si tu varita está sintonizada con el frío, la electricidad o el fuego. Obtienes la actividad @UUID[Compendium.pf2e.actionspf2e.04VQuQih77pxX06q]{{Magia de Lanzar}.</p> <p>
<h3><strong>Beneficio de adepto</strong></h3>
<p>Ganas versatilidad y beneficios adicionales cuando disparas tu varita. El rango de distancia de Lanzar por los aires aumenta a 120 pies. Elige un segundo tipo de daño de la lista; siempre que lances Magia, puedes elegir entre cualquiera de los dos tipos de daño que hayas elegido. Lanzar Magia tiene un efecto adicional si el objetivo falla su salvación y recibe daño, dependiendo del tipo.</p> <p>
<ul>
<li>Frío: El objetivo se hiela, recibiendo una penalización de situación de -10 pies a sus Velocidades durante 1 asalto.</li> <li>Frío: El objetivo se hiela, recibiendo una penalización de situación de -10 pies a sus Velocidades durante 1 asalto.
<li>Electricidad: El objetivo recibe una descarga eléctrica, convirtiéndose en @UUID[Compendium.pf2e.conditionitems.AJh5ex99aV6VTggg]{Piesplanos}## hasta el final de tu siguiente turno.</li> <li>Fuego.
<li>Incendio: el objetivo prende en llamas, recibiendo @Localize[PF2E.PersistentDamage.Fire1d10.success] (o @Localize[PF2E.PersistentDamage.Fire2d10.success]# en un fallo crítico). Si tienes el beneficio de parangón de varita, esto aumenta a @Localize[PF2E.PersistentDamage.Fire2d10.success]# (o @Localize[PF2E.PersistentDamage.Fire4d10.success]# en un fallo crítico).</li>
</ul>
<h3><strong>Intensificar vulnerabilidad</strong></h3>
<p>Tu varita potenciada surge con magia cada vez más poderosa. Cuando lanzas por los aires magia para dañar al objetivo de tu Vulnerabilidad de Explotación, infliges a la criatura un daño adicional igual a 1 + el número de dados de daño.</p> <p><strong>Explotar Vulnerabilidad</strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong>.
<h3><strong>Beneficio del Parangón</strong></h3>
<p>Tu dominio de la varita te otorga mayor versatilidad, rango de distancia y área. El rango de distancia de Lanzar por los aires aumenta a 180 pies. Puedes elegir entre los tres tipos de daño (frío, electricidad y fuego) cada vez que uses Lanzar por los aires. Al Lanzar por los aires, puedes designar como objetivo a una sola criatura o afectar a todas las criaturas de un @Template[type:burst|distance:20].</p> <p>Lanzamiento de Magia
