Parent Name: Zuishin
Name: Healing Arrow
Nombre: Flecha curadora
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p>The zuishin blesses an arrow with healing magic and makes a <em>composite longbow</em> Strike against an ally. If it hits, rather than dealing damage, the arrow is infused with the effects of one of the following of the zuishin's innate divine spells: <em>@UUID[Compendium.pf2e.spells-srd.Hnc7eGi7vyZenAIm]{Breath of Life}</em>, <em>@UUID[Compendium.pf2e.spells-srd.rfZpqmj0AIIdkVIs]{Heal}</em>, <em>@UUID[Compendium.pf2e.spells-srd.RneiyehRO6f7LP44]{Remove Disease}</em>, or <em>@UUID[Compendium.pf2e.spells-srd.BCuHKrDeJ4eq53M6]{Remove Paralysis}</em>. The zuishin must have the spell available to cast, and using this ability expends the spell.</p>
<p>If the zuishin rolls a failure on the attack roll against an ally who's aware of the arrow and wants to be hit, the attack hits, but on a critical failure, it still misses.</p>
------ Description (es) ------
<p>El zuishin bendice una flecha con magia curativa y realiza un <em>arco largo compuesto</em> Golpe contra un aliado. Si impacta, en lugar de infligir daño, la flecha se infunde con los efectos de uno de los siguientes hechizos divinos innatos del zuishin: <em>@UUID[Compendium.pf2e.spells-srd.Hnc7eGi7vyZenAIm]{Aliento de vida}</em>, <em>@UUID[Compendium.pf2e.spells-srd.rfZpqmj0AIIdkVIs]{{Curar}</em>, <em>@UUID[Compendium.pf2e.spells-srd.RneiyehRO6f7LP44]{Quitar Enfermedad}</em>, o <em>@UUID[Compendium.pf2e.spells-srd.BCuHKrDeJ4eq53M6]{Quitar Parálisis}</em>. El zuishin debe tener el hechizo disponible para lanzarlo, y usar esta habilidad gasta el hechizo.</p> <p>Si el zuishin tiene el hechizo disponible para lanzarlo, gasta el hechizo.
<p>Si el zuishin obtiene un fallo en la tirada de ataque contra un aliado que es consciente de la flecha y quiere ser golpeado, el ataque impacta, pero en un fallo crítico, sigue fallando.</p> <p><em>Si el zuishin obtiene un fallo en la tirada de ataque contra un aliado que es consciente de la flecha y quiere ser golpeado, el ataque impacta</em>.
