Name: (Vampire, Jiang-Shi, Basic) Drain Qi
Nombre: (Vampiro, Jiang-Shi, Básico) Drenar Qi
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Requirements</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, or willing creature is within the jiang-shi's reach</p>
<hr />
<p><strong>Effect</strong> The jiang-shi drains the victim's life energy, or qi, through their breath. This requires an @Check[type:athletics] check against the victim's Fortitude DC if the victim is grabbed and is automatic for any of the other conditions. The victim is @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} and the jiang-shi regains HP equal to 10% of its maximum HP, gaining any excess as temporary Hit Points. Draining qi from a creature that's already drained doesn't restore any HP to the jiang-shi but increases the victim's drained condition value by 1, killing the victim when it reaches drained 5. If the victim has the ability to cast ki spells, it can spend 1 Focus Point to avoid becoming drained. This protects it only from the current attack, not from subsequent attempts to Drain Qi.</p>
<p>A victim's drained condition value decreases by 1 every week. If the creature restricts their diet to glutinous rice for at least 1 day and spends 10 minutes dancing, jogging, or otherwise engaging in vigorous physical activity by succeeding at a @Check[type:athletics|dc:25] check, it reduces its drained condition by 1.</p>
------ Description (es) ------
<p><strong>Requisitos</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, o una criatura voluntaria está dentro del alcance del jiang-shi</p>
<hr />
<p><strong>Efecto</strong> El jiang-shi drena la energía vital, o qi, de la víctima a través de su aliento. Esto requiere un chequeo @Check[type:athletics] contra la DC de Fortaleza de la víctima si la víctima es agarrada y es automático para cualquiera de los otros estados negativos (normalmente se abrevia a estado). La víctima queda @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenado 1}## y el jiang-shi recupera PV igual al 10% de su PV máxima, ganando el exceso como Puntos de Golpe temporales. Drenar qi de una criatura que ya está drenada no restaura ningún PS al jiang-shi, pero aumenta el valor del estado negativo de la víctima en 1, matándola cuando llega a drenado 5. Si la víctima tiene la habilidad de lanzar conjuros de ki, puede gastar 1 Punto de Foco para evitar quedar drenado. Esto la protección solo del ataque actual, no de posteriores intentos de Drenado de Qi.</p> <p>
<p>El valor del estado negativo (normalmente se abrevia a estado) de la víctima disminuye en 1 cada semana. Si la criatura restringe su dieta a arroz glutinoso durante al menos 1 día y pasa 10 minutos bailando, haciendo footing o realizando cualquier otra actividad física vigorosa teniendo éxito en un chequeo @Check[type:athletics|dc:25]#, reduce su estado drenado/a en 1.</p> <p>
