Name: Drink Blood
Nombre: Beber Sangre
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Requirements</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, or willing creature is within your reach</p>
<hr />
<p><strong>Effect</strong> You sink your fangs into that creature and drink its blood. This requires an Athletics check against the victim's Fortitude DC if the victim is grabbed, and automatically succeeds for any of the other conditions. If you succeed, the creature becomes @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1}, and you gain temporary HP equal to the target's level that last for 10 minutes. Further uses against the target don't increase the drained condition or grant you more temporary HP.</p>
------ Description (es) ------
<p><strong>Requisitos</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, o criatura voluntaria está a su alcance</p>
<hr />
<p><strong>Efecto</strong> Hundes tus colmillos en esa criatura y bebes su sangre. Esto requiere un chequeo de Atletismo contra la CD de Fortaleza de la víctima si la víctima está agarrada, y tiene éxito automáticamente para cualquiera de los otros estados negativos (normalmente se abrevia a estado). Si tienes éxito, la criatura se convierte en @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenado 1}, y ganas PV temporales iguales al nivel del objetivo que duran 10 minutos. Los usos posteriores contra el objetivo no aumentan el estado negativo (normalmente se abrevia a estado) ni te otorgan más PS temporales.
