Journal: Domains
Name: Earth Domain
Nombre: Dominio Tierra
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Deities</strong> @UUID[Compendium.pf2e.deities.d56paSkcwvll2OhR]{Abadar}, @UUID[Compendium.pf2e.deities.RbslST0RZPXj6Eby]{Ashukharma}, @UUID[Compendium.pf2e.deities.aChBtIDfA59QQ7SN]{Ayrzul}, @UUID[Compendium.pf2e.deities.eyGEoggFlTEUQmvJ]{Bes}, @UUID[Compendium.pf2e.deities.vEMCpm7iidycRT5D]{Brigh}, @UUID[Compendium.pf2e.deities.XHDlP7o1jNz9851v]{Diomazul}, @UUID[Compendium.pf2e.deities.39z55kowQFOUH2v0]{Droskar}, @UUID[Compendium.pf2e.deities.mm1j6UbHqFCI8fwB]{Erastil}, @UUID[Compendium.pf2e.deities.6O4UGWcYERDEugzk]{Fumeiyoshi}, @UUID[Compendium.pf2e.deities.3ffVxwgtvR1imHm8]{Gendowyn}, @UUID[Compendium.pf2e.deities.VvxEvEKhCGRwrMJp]{Imbrex}, @UUID[Compendium.pf2e.deities.Mv6uTJLh3VGEoGLH]{Nivi Rhombodazzle}, @UUID[Compendium.pf2e.deities.Bhxji0kxIbMKqdkw]{Rovagug}, @UUID[Compendium.pf2e.deities.1NxkZf6ndijKeufX]{Sairazul}, @UUID[Compendium.pf2e.deities.vnmoAGURp8oWCY6R]{Soralyon}, @UUID[Compendium.pf2e.deities.sZrdzh0ANQnZGXJb]{Torag}, @UUID[Compendium.pf2e.deities.9eltBjLngkR9x1Xm]{Trelmarixian}, @UUID[Compendium.pf2e.deities.tb0oADxOoMhyrYRA]{Yamatsumi}, @UUID[Compendium.pf2e.deities.uYpxTi4byHc5w78R]{Yuelral}</p>
<p><strong>Domain Spell</strong> <em>@UUID[Compendium.pf2e.spells-srd.pRKaEXnjGJXbPHPC]{Hurtling Stone}</em>; <strong>Advanced Domain Spell</strong> <em>@UUID[Compendium.pf2e.spells-srd.cBUuG1yJHGeKffpg]{Localized Quake}</em></p>
<p>You control soil and stone.</p>
------ Description (es) ------
<p><strong>Deities</strong> @UUID[Compendium.pf2e.deities.d56paSkcwvll2OhR]{Abadar}, @UUID[Compendium.pf2e.deities.RbslST0RZPXj6Eby]{Ashukharma}, @UUID[Compendium.pf2e.deities.aChBtIDfA59QQ7SN]{Ayrzul}, @UUID[Compendium.pf2e.deities.eyGEoggFlTEUQmvJ]{Bes}, @UUID[Compendium.pf2e.deities.vEMCpm7iidycRT5D]{Brigh}, @UUID[Compendium.pf2e.deities.XHDlP7o1jNz9851v]{Diomazul}, @UUID[Compendium.pf2e.deities.39z55kowQFOUH2v0]{Droskar}, @UUID[Compendium.pf2e.deities.mm1j6UbHqFCI8fwB]{Erastil}, @UUID[Compendium.pf2e.deities.6O4UGWcYERDEugzk]{Fumeiyoshi}, @UUID[Compendium.pf2e.deities.3ffVxwgtvR1imHm8]{Gendowyn}, @UUID[Compendium.pf2e.deities.VvxEvEKhCGRwrMJp]{Imbrex}, @UUID[Compendium.pf2e.deities.Mv6uTJLh3VGEoGLH]{{Nivi Rhombodazzle}, @UUID[Compendium.pf2e.deities.Bhxji0kxIbMKqdkw]{Rovagug}, @UUID[Compendium.pf2e.deities.1NxkZf6ndijKeufX]{Sairazul}, @UUID[Compendium.pf2e.deities.vnmoAGURp8oWCY6R]{Soralyon}, @UUID[Compendium.pf2e.deities.sZrdzh0ANQnZGXJb]{Torag}, @UUID[Compendium.pf2e.deities.9eltBjLngkR9x1Xm]{Trelmarixian}, @UUID[Compendium.pf2e.deities.tb0oADxOoMhyrYRA]{Yamatsumi}, @UUID[Compendium.pf2e.deities.uYpxTi4byHc5w78R]{Yuelral}</p>
<p><strong>Hechizo de Dominio</strong> <em>@UUID[Compendium.pf2e.spells-srd.pRKaEXnjGJXbPHPC]{Piedra Hurtada}</em>; <strong>Hechizo de Dominio Avanzado</strong> <em>@UUID[Compendium.pf2e.spells-srd.cBUuG1yJHGeKffpg]{Sismo Localizado}#</em></p>
<p>Controlas la tierra y la piedra.</p> <p>Controlas la tierra y la piedra.
