Name: (Vampire, Strigoi Progenitor) Drink Essence
Nombre: (Vampiro, Progenitor Strigoi) Beber Esencia
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Requirements</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, or willing creature is within the strigoi's reach</p>
<hr />
<p><strong>Effect</strong> The strigoi progenitor sinks their fangs into the targeted creature to drink its blood and draw out its vital essence. This requires an @Check[type:athletics] check against the creature's Fortitude DC if the creature is grabbed and is automatic for any of the other conditions. The creature becomes @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 2} and @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2}, and the strigoi regains HP equal to 10% of their maximum HP, gaining any excess HP as temporary Hit Points. Drinking Essence from a creature that's already drained or stupefied doesn't restore any HP, but increases either the creature's drained condition value or its stupefied condition value by 1 (whichever value is lesser is increased; if both values are equal, then the strigoi chooses which condition to increase the value of).</p>
<p>A victim's drained condition decreases by 1 per week. A blood transfusion, which requires a successful @Check[type:medicine|dc:20] check and sufficient blood or a blood donor, reduces the drained value by 1 after 10 minutes.</p>
<p>A victim's stupefied condition decreases by 1 per day after performing daily preparations. If the daily preparations are done in full sunlight, the stupefied condition is removed entirely.</p>
------ Description (es) ------
<p><strong>Requisitos</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}#, o una criatura dispuesta está dentro del alcance del strigoi</p>
<hr />
<p><strong>Efecto</strong> El progenitor strigoi hunde sus colmillos en la criatura designada como objetivo para beber su sangre y extraer su esencia vital. Esto requiere un chequeo @Check[type:athletics] contra la CD de Fortaleza de la criatura si ésta es agarrada y es automático para cualquiera de los otros estados negativos (normalmente se abrevia a estado). La criatura queda @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenada 2} y @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Estupefacta 2}, y el strigoi recupera PV igual al 10% de sus PV máximos, ganando los PV sobrantes como Puntos de Golpe temporales. Beber Esencia de una criatura que ya está drenada/a o anonadada/a no restaura ningún PS, pero aumenta el valor de la condición de la criatura drenada/a o el valor de su condición anonadada/a en 1 (se aumenta el valor que sea menor; si ambos valores son iguales, el strigoi elige de qué condición aumentar el valor).</p> <p>
<p>El estado negativo de una víctima drenada/a disminuye en 1 por semana. Una transfusión de sangre, que requiere un chequeo @Check[type:medicine|dc:20]# exitoso y sangre suficiente o un donante de sangre, reduce el valor drenado/a en 1 tras 10 minutos.</p> <p>
<p>El estado negativo (normalmente se abrevia a estado) de una víctima disminuye en 1 por día tras realizar los preparativos diarios. Si los preparativos diarios se realizan a plena luz del sol, el estado negativo (normalmente se abrevia a estado) desaparece por completo.</p> <p>
