Name: Effect: Flat-Footed until end of your next turn
Nombre: Efecto: Pies planos hasta el final de tu siguiente turno.
Estado: modificada
Estado original: auto-trad

------ Description (en) ------
<p><strong>Effect applied by @UUID[Compendium.pf2e.criticaldeck.IrUeMJoKEYUSJKs1]{Critical Fumble Deck #19}, @UUID[Compendium.pf2e.criticaldeck.gWa7wGUfUvYoIK8z]{Critical Fumble Deck #20}, @UUID[Compendium.pf2e.criticaldeck.I5omhoK6rqfCZiUZ]{Critical Fumble Deck #21}, @UUID[Compendium.pf2e.criticaldeck.Ps9VYxI2zJPG6PEV]{Critical Fumble Deck #22}, @UUID[Compendium.pf2e.criticaldeck.qD8KoshDJsayGbCB]{Critical Fumble Deck #40}</strong></p>
<p>You are @UUID[Compendium.pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} until the end of your next turn.</p>
------ Description (es) ------
<p><strong>Efecto aplicado por @UUID[Compendium.pf2e.criticaldeck.IrUeMJoKEYUSJKs1]{Mazo Fumble Crítico #19}, @UUID[Compendium.pf2e.criticaldeck.gWa7wGUfUvYoIK8z]{Mazo Fumble Crítico 20}###, @UUID[Compendium.pf2e.criticaldeck.I5omhoK6rqfCZiUZ]{Critical Fumble Deck 21}##, @UUID[Compendium.pf2e.criticaldeck.Ps9VYxI2zJPG6PEV]{Critical Fumble Deck 22}##, @UUID[Compendium.pf2e.criticaldeck.qD8KoshDJsayGbCB]{{Critical Fumble Deck 40}###</strong></p>
<p>Estás @UUID[Compendium.pf2e.conditionitems.AJh5ex99aV6VTggg]{Piesplanos}# hasta el final de tu siguiente turno.</p>
